<ol class="breadcrumb">
  <li><a href="/">Home</a> / </li>
   <li><a href="/nigeria">Nigeria</a> / </li>
  <li class="active"> Dashboard </li>
</ol>

<div class="row show-grid">
  <div class="span5">
    <h1>Nigeria</h1>
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li><a href="/nigeria">Country Profile</a></li>
  <li class="active"><a href="/nigeria/dashboard">Dashboard</a></li>
</ul>


<h3 style="margin-bottom: 40px">Treatment of the sick child theory of change</h3>

<div id="mainPanel">

<div class="vertical" >
	<div class="">
    <%= image_tag("market.png")%> 
  </div>
</div>

<div class="verticleColumn" id="activities">
     <div class="window activities" id="chartWindow1">
     	<h4>
     		<span style="text-align: center">BMGF-funded Activities</span>
     	</h4>
     </div>
     <div class="window activities" id="chartWindow2">
      Behavior change /care seeking messaging

      <div class="dashboard_notes">% change from base line: 15</div>
     </div>

     <div class="window activities" id="chartWindow3">
        Strengthen policy
     </div>
     <div class="window activities" id="chartWindow4">
      Strengthening health providers: private and public
    </div>
     <div class="window activities" id="chartWindow5">
      New tools and systems for providers
     </div>
     <div class="window activities" id="chartWindow6">
      Improve supply of commodities 
     </div>
     <div class="window activities" id="chartWindow7">
      Improve presentation of treatments
     </div>
  </div> 

  <div class="verticleColumn" id="functions">
     <div class="window functions" id="chartWindow10"><h4>Health system functions</h4></div>
     <div class="window functions" id="chartWindow11">
      Community empowered
      </div>
     <div class="window functions" id="chartWindow12">
      Financing
    </div>
     <div class="window functions" id="chartWindow13">
      Governance and leadership
    </div>
     <div class="window functions" id="chartWindow14">
      Health information
      </div>
     <div class="window functions" id="chartWindow15">
      Human resources - PUBLIC
    </div>
     <div class="window functions" id="chartWindow16">
      Human resources - PRIVATE
     </div>
     <div class="window functions" id="chartWindow17">
      Medicines equipment and commodities
    </div>
  </div>    

  <div class="verticleColumn" id="outputs">
     <div class="window outputs" id="chartWindow18">
        <h4>Outputs</h4>
      </div>
     <div class="window outputs" id="chartWindow19" >
        Prompt care seeking
      </div>
     <div class="window outputs" id="chartWindow20">
        Availability of quality care and treatment
    </div>  
  </div>  

  <div class="verticleColumn" id="outcome">
  	<div class="window outcomes" id="chartWindow21"><h4>Outcome</h4></div>
  	<div class="window outcomes" id="chartWindow22">
      Quality treatment coverage
	</div>
  </div>

  <div class="verticleColumn" id="goals">
  	<div class="window goals" id="chartWindow23"><h4>Goal</h4></div>
  	<div class="window goals" id="chartWindow24">
        Improved Child Survival
	</div>
  </div>


</div>
 
<div id="horizontal">
  	<div>
  		<h5>Context</h5>Ratio of private to public use of services; service utilization rates; transportation; maternal education and woman empowerment;  activities of other partners working in this space; etc
  	</div>
</div>
