<ol class="breadcrumb">
  <li><a href="/">Home</a> / </li>
  <li><a href="/nigeria">Nigeria</a> / </li>
  <li><a href="/nigeria/dashboard">Dashboard</a> / </li>
  <li class="active">Behavior change/care seeking messaging</li>
</ol>

<div class="page-header">
  <h2>Behavior change care seeking messaging<small> Mass media, ICT, CBOs, women’s groups
</small></h2>
</div>


  

<div class="row show-grid">
	<div class="span6">
		
		<table class="table">
			   <tr>
			   		<th>Grant</th>
			   		<th>Key Indicators</th>
			   </tr>
			   <tr>
			   		<td rowspan="3">
			   				<div>BBC MA</div>
							<div>2013-2016</div>
							<div>Demand: Support communications campaign promoting appropriate treatment of childhood illness in Nigeria</div>
			   		</td>
			   		<td>Indicator 1</td>
			   </tr>
			   <tr>
			   	<td>Indicator 2</td>
			   </tr>
			   <tr>
			   	<td>Indicator 3</td>
			   </tr>
			 </table>


	</div>
</div>


