<ol class="breadcrumb">
  <li><a href="/">Home</a> / </li>
  <li><a href="/nigeria">Nigeria</a> / </li>
  <li><a href="/nigeria/dashboard">Dashboard</a> / </li>
  <li class="active">Behavior change/care seeking messaging</li>
</ol>

<div class="page-header">
  <h2>Behavior change Care seeking messaging<small>Mass media, ICT, CBOs, women’s groups
</small></h2>
</div>


  

<div class="row show-grid">
	<div class="span6">
		
		<table class="table">
			   <tr>
			   		<th>Grant</th>
			   		<th>Key Indicators</th>
			   </tr>
			   <tr>
			   		<td rowspan="3">
			   				<div>BBC MA</div>
							<div>2013-2016</div>
							<div>Demand: Support communications campaign promoting appropriate treatment of childhood illness in Nigeria</div>
			   		</td>
			   		<td>Indicator 1</td>
			   </tr>
			   <tr>
			   	<td>Indicator 2</td>
			   </tr>
			   <tr>
			   	<td>Indicator 3</td>
			   </tr>
			 </table>


	</div>
</div>


<div class="row show-grid">
	<div class="span7">
		<div id="pi2_div" style="width:200; height:150"></div>
	</div>
</div>




  <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Disease');
        data.addColumn('number', 'Percentage');
        data.addRows([
          ['Neonatal causes', 29],
          ['Pneumonia', 17],
          ['Malaria', 17],
          ['Diarrhea', 11],
          ['AIDS', 3],
          ['Other', 23]
        ]);


      
       var pi2_data = google.visualization.arrayToDataTable([
          ['Region', '1990 DHS', '2003 DHS', '2007 MICS', '2008 DHS', '2011 MISC'],
          ['Nigeria',  37,33, 41, 45, 40],
          ['North Central',  0, 0, 59, 0, 65],
          ['North West',  0, 0, 45, 0, 34]
        ]);

        var pi2_options = {
          title: 'Percent children <5 with suspected pneumonia who were taken for treatment',
          colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
        };

        var pi2_chart = new google.visualization.ColumnChart(document.getElementById('pi2_div'));
        pi2_chart.draw(pi2_data, pi2_options);


        
	}

  </script>