
<ol class="breadcrumb">
  <li><a href="/">Home</a> / </li>
  <li><a href="/nigeria">Nigeria</a> / </li>
  <li><a href="/nigeria/dashboard">Dashboard</a> / </li>
  <li class="active">Community Empowered</li>
</ol>

<div class="page-header">
  <h2>Community Empowered <small> preferences and empowerment</small></h2>
</div>


<div class="row show-grid">
  <div class="span6">
    
    <table class="table">

         <tr>
            <th>Indicator</th>
            <th>2014</th>
            <th>2016</th>
         </tr>
         <tr>
            <th>Knowledge of symptoms D&P</th>
            <td>40%</td>
            <td>80%</td>
         </tr>
         <tr>
            <th>Indicator X</th>
            <td>12.2</td>
            <td>15</td>
         </tr>
        <tr>
            <th>Indicator Y</th>
            <td>12.2</td>
            <td>15</td>
        </tr>
        <tr>
            <th>Indicator Z</th>
            <td>393</td>
            <td>455</td>
        </tr>
       </table>


  </div>
</div>