
<select>
	<option name="nigeria">Nigeria</option>
	<option name="india">India</option>
</select>


<h1>Treatment of the sick child delivery sub-program theory</h1>



<div class="verticleColumn" id="activities">
     <div class="window" id="chartWindow1"><h3>B&MGF Activities</h3></div>
     <div class="window" id="chartWindow2">Mass Media</div>
     <div class="window" id="chartWindow3">Working with CBOs</div>
     <div class="window" id="chartWindow4">Collaborations to facilitate dissemination and scale up</div>
     <div class="window" id="chartWindow5">Establish  Governing Coordinating Committees</div>
     <div class="window" id="chartWindow6">iCCM</div>
     <div class="window" id="chartWindow7">Training/ tools/ detailing providers</div>
     <div class="window" id="chartWindow8">New ORS/ Zn product presentations</div>
     <div class="window" id="chartWindow9">Improving supply to facilities (by type)</div>
  </div> 

  <div class="verticleColumn" id="functions">
     <div class="window" id="chartWindow1"><h3>Health system functions</h3></div>
     <div class="window" id="chartWindow2">Community knowledge, preferences and empowerment</div>
     <div class="window" id="chartWindow3">Financing (program funding, fees for services, fees for drugs)</div>
     <div class="window" id="chartWindow4">Governance and leadership</div>
     <div class="window" id="chartWindow5">Health information (on commodities, treatments, disease, resources, etc)</div>
     <div class="window" id="chartWindow6">Human resources (#, knowledge, skills) - PUBLIC</div>
     <div class="window" id="chartWindow7">Human resources (#, knowledge, skills) - PRIVATE</div>
     <div class="window" id="chartWindow8">Medicines equipment and commodities</div>
  </div>    

  <div class="verticleColumn" id="outputs">
     <div class="window" id="chartWindow1"><h3>Outputs</h3></div>
     <div class="window" id="chartWindow2">Prompt care seeking (Demand)</div>
     <div class="window" id="chartWindow3">Availability of quality care and treatment (Supply)
-Stability in available stock
- Provider behaviors (diagnosis, treatment, attitude)
- Access to providers</div>  
  </div>  

  <div class="verticleColumn" id="outcome">
  	<div class="window" id="chartWindow1"><h3>Outcome</h3></div>
  	<div class="window" id="chartWindow2">Quality treatment coverage Increase in percent of children receiving timely and appropriate care for pneumonia, diarrhea and malaria
	</div>
  </div>

  <div class="verticleColumn" id="goals">
  	<div class="window" id="chartWindow1"><h3>Goal</h3></div>
  	<div class="window" id="chartWindow2">Improved Child Survival

Cost per DALY averted

Cost per life saved

(Equity, Scale)

	</div>
  </div>


 


