
<select>
	<option name="nigeria">Nigeria</option>
	<option name="india">India</option>
</select>


<h1>Treatment of the sick child delivery sub-program theory</h1>

<div id="mainPanel">

<div class="verticleColumn vertical">
	Market Research
</div>

<div class="verticleColumn" id="activities">
     <div class="window activities" id="chartWindow1">
     	<h4>
     		<span style="text-align: center">B&MGF Activities</span>
     	</h4>
     </div>
     <div class="window activities" id="chartWindow2">Mass Media</div>
     <div class="window activities" id="chartWindow3">Working with CBOs</div>
     <div class="window activities" id="chartWindow4">Collaborations to facilitate dissemination and scale up</div>
     <div class="window activities" id="chartWindow5">Establish  Governing Coordinating Committees</div>
     <div class="window activities" id="chartWindow6">ICCM</div>
     <div class="window activities" id="chartWindow7">Training/ tools/ detailing providers</div>
     <div class="window activities" id="chartWindow8">New ORS/ Zn product presentations</div>
     <div class="window activities" id="chartWindow9">Improving supply to facilities (by type)</div>
  </div> 

  <div class="verticleColumn" id="functions">
     <div class="window functions" id="chartWindow10"><h4>Health system functions</h4></div>
     <div class="window functions" id="chartWindow11">Community knowledge, preferences and empowerment</div>
     <div class="window functions" id="chartWindow12">Financing (program funding, fees for services, fees for drugs)</div>
     <div class="window functions" id="chartWindow13">Governance and leadership</div>
     <div class="window functions" id="chartWindow14">Health information (on commodities, treatments, disease, resources, etc)</div>
     <div class="window functions" id="chartWindow15">Human resources (#, knowledge, skills) - PUBLIC</div>
     <div class="window functions" id="chartWindow16">Human resources (#, knowledge, skills) - PRIVATE</div>
     <div class="window functions" id="chartWindow17">Medicines equipment and commodities</div>
  </div>    

  <div class="verticleColumn" id="outputs">
     <div class="window outputs" id="chartWindow18"><h4>Outputs</h4></div>
     <div class="window outputs" id="chartWindow19">Prompt care seeking (Demand)</div>
     <div class="window outputs" id="chartWindow20">Availability of quality care and treatment (Supply)
-Stability in available stock
- Provider behaviors (diagnosis, treatment, attitude)
- Access to providers</div>  
  </div>  

  <div class="verticleColumn" id="outcome">
  	<div class="window outcomes" id="chartWindow21"><h4>Outcome</h4></div>
  	<div class="window outcomes" id="chartWindow22">Quality treatment coverage Increase in percent of children receiving timely and appropriate care for pneumonia, diarrhea and malaria
	</div>
  </div>

  <div class="verticleColumn" id="goals">
  	<div class="window goals" id="chartWindow23"><h4>Goal</h4></div>
  	<div class="window goals" id="chartWindow24">Improved Child Survival
	Cost per DALY averted
	Cost per life saved
	(Equity, Scale)
	</div>
  </div>


</div>
 
   <div id="horizontal">
  	<div>
  		<h5>Context</h5>Ratio of private to public use of services; service utilization rates; transportation; maternal education and woman empowerment;  activities of other partners working in this space; etc
  	</div>
  </div>


