
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Activity areas and 5-year results.</h1>
              <p class="lead">The Treatment of the Sick Child Initiative is organized according to five activity areas that represent the main opportunities for the foundation to have an impact</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Improve quality of care of private providers with more than 200,000 private providers participating in a network with over 80% adherence to treatment protocols</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">An initiative-wide measurement, learning and evaluation program will support these activity areas through ongoing monitoring and evaluation, research, and dissemination of key data and findings from across the portfolio.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>


<h1>Treatment of the Sick Child Initiative</h1>


<ul>
<li>Improvement of care-seeking behaviors</li>
<li>Support of sustainable scale-up of community case management programs in rural Africa</li>
<li>Improvement of the quality of care of private providers</li>
<li>Development of new tools to improve triage, referral and treatment</li>
<li>Improvement of markets for treatment commodities</li>
</ul>

<h4>By 2017 the Treatment of the Sick Child Initiative aims to see:</h4>
<ul>
<li>Early care-seeking increased by twenty percentage points in target geographies</li>
<li>At least four African countries double their 2012 numbers of Community Health at an average program cost of no more than $1,500 per life saved</li>
<li>Improve quality of care of private providers with more than 200,000 private providers participating in a network with over 80% adherence to treatment protocols</li>
<li>A set of new and improved tools for the clinical diagnosis and management of pneumonia in children which will be developed and demonstrated to be impactful, with initial scale-up in three countries, and at least early interest in the target geographies</li>
<li>New ORS and zinc product presentations available at affordable prices, with evidence that these increase usage rates by at least ten percentage points</li>
<li>The establishment of an innovative pooled procurement and/or quick response delivery system for districts, health facilities, and countries</li>
</ul>

<p>.</p>

<p>To learn more about the initiative, please contact us <a href="mailto:info@rti.org">here</a></p>

