

<div class="row show-grid">
	<div class="span5">
		<h2>Nigeria</h2>
	</div>
	<div class="span4">
		<p><strong>Elimination Target Date:</strong> October 17, 2016</p>
		<p><strong>Population (in millions):</strong> 11</p>

	</div>
</div>
 	

 	<div id="world-map" style="width: 600px; height: 400px"></div>
  <script>
  jQuery.noConflict();
    $(function(){
      $('#world-map').vectorMap();
    });
  </script>


<div class="row show-grid">
	<div class="span8">
		<h4>Country Overview</h4>
	</div>
</div>
<div class="row show-grid">
	<div class="span6">
		    <table class="table table-striped table-condensed">
		    	<tr>
		    		<th></th>
		    		<th>Nigeria</th>
		    		<th>Benue</th>
		    		<th>Kebbi</th>
		    	</tr>
		    	<tr>
		    		<td>Population 2005</td>
		    		<td>140,003,542</td>
		    		<td>4,780,389</td>
		    		<td>3,256,541</td>
		    	</tr>
		    	<tr>
		    		<td>Population 2012</td>
		    		<td>168,833,776</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>
		    		<td>Population under five 20113	</td>
		    		<td>27,195,000</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>
		    		<td>Urbanized population 2011</td>
		    		<td>50%</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>			
		    		<td>Administrative units</td>
		    		<td>36 States</td>
		    		<td>23 LGAs</td>
		    		<td>21 LGAs</td>
		    	</tr>
		    	<tr>
		    		<td>Children of primary school entry age entering grade 14</td>
		    		<td>44%</td>
		    		<td>39%</td>
		    		<td>19%</td>
		    	</tr>
		    	<tr>	
		    		<td>Child Literacy Rate4</td>
		    		<td>86%</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>
		    		<td>Use improved drinking water sources</td>
		    		<td>59%</td>
		    		<td>49%</td>
		    		<td>44%</td>
		    	</tr>
		    	<tr>	
		    		<td>Use improved sanitation facility</td>
		    		<td>51%</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>
		    		<td>Open defecation4</td>
		    		<td>29%</td>
		    		<td>53%</td>
		    		<td>38%</td>
		    	</tr>
		    	<tr>
		    		<td>Safe disposal child feces</td>
		    		<td>52%</td>
		    		<td>18%</td>
		    		<td>46%</td>
		    	</tr>
	
		    	<tr>
		    		<td>Households where hand washing observed</td>
		    		<td>27%</td>
		    		<td>39%</td>
		    		<td>31%</td>
		    	</tr>
		    	<tr>
		    		<td>Under five mortality rate (per 1,000) – 2005</td>
		    		<td>158</td>
		    		<td>158</td>
		    		<td>212</td>
		    	</tr>
		    	<tr>
		    		<td>Under five mortality rate (per 1,000) – 2012</td>
		    		<td>124</td>
		    		<td></td>
		    		<td></td>
		    	</tr>
		    	<tr>
		    		<td>Infant mortality rate (per 1,000) – 2005</td>
		    		<td>97</td>
		    		<td>97</td>
		    		<td>127</td>
		    	</tr>
		    	<tr>
		    		<td>Infant mortality rate (per 1,000) – 2012</td>
		    		<td>5</td>
		    		<td>78</td>
		    		<td></td>
		    	</tr>
    		</table>
	</div>
</div>


<div class="row show-grid">
	<div class="span10">
		<h3>Performance Indicators</h3>
	</div>
</div>

<div class="row show-grid">
	<div class="span10">
		<h3>Activities</h3>
	</div>
</div>

