
<ol class="breadcrumb">
  <li><a href="/">Home</a> / </li>
  <li><a href="/nigeria">Nigeria</a> / </li>
  <li><a href="/nigeria/dashboard">Dashboard</a> / </li>
  <li class="active">Quality Treatment Coverage</li>
</ol>

<div class="page-header">
  <h2>Quality Treatment Coverage <small> Increase in percent of children receiving timely and appropriate care</small></h2>
</div>


<div class="row show-grid">
  <div class="span6">
    
    <table class="table">

         <tr>
            <th>Indicator</th>
            <th>2014</th>
            <th>2016</th>
         </tr>
         <tr>
            <td>Treatment coverage diarrhea</td>
            <td>20%</td>
            <td>30%</td>
         </tr>

       </table>


  </div>
</div>